<div class="Polaris-Page" style="min-height: 80vh;">
  <div class="Polaris-Page-Header">
    <div class="Polaris-Page-Header__MainContent">
      <div class="Polaris-Page-Header__TitleActionMenuWrapper">
        <div>
          <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
            <div class="Polaris-Header-Title">
              <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Go Cart</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
      <div class="Polaris-Layout__AnnotatedSection">
        <div class="Polaris-Layout__AnnotationWrapper">
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">App Status</h2>
              <div class="Polaris-Layout__AnnotationDescription">
                <p></p>
              </div>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                  <%= form_with(model: @shop, local: true,url: home_update_shop_path) do |form| %>
                    <% if @shop.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

                        <ul>
                        <% @shop.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="Polaris-SettingAction">
                      <%= form.hidden_field :status, value: !@shop.status %>
                      <% if @shop.status %>
                        <div class="Polaris-SettingAction__Setting">
                          Go Cart App is <span class="Polaris-TextStyle--variationStrong">enabled</span>.
                        </div>
                        <div class="Polaris-SettingAction__Action">
                          <button type="submit" class="Polaris-Button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Disable</span></span></button>
                        </div>
                      <% else %>
                        <div class="Polaris-SettingAction__Setting">
                          Go Cart App is <span class="Polaris-TextStyle--variationStrong">disabled</span>.
                        </div>
                        <div class="Polaris-SettingAction__Action">
                          <button type="submit" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Enable</span></span></button>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>