<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
  <div class="Polaris-Page">
    <div class="Polaris-Page-Header Polaris-Page-Header--hasActionMenu">
      <div class="Polaris-Page-Header__MainContent">
        <div class="Polaris-Page-Header__TitleActionMenuWrapper">
          <div>
            <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
              <div class="Polaris-Header-Title">
                <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">FAQ</h1>
              </div>
            </div>
          </div>
          <div class="Polaris-Page-Header__ActionMenuWrapper">
            <div class="Polaris-ActionMenu">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Polaris-Page__Content">
      <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__Section">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Do I have to add any code to my theme?</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>Typically our app will install instantly with no additional coding required, but some themes may require an additional css class to be added manually. Contact us if the blinking does not show when app is enabled, we will respond within 24 hours and install free of charge. </p>
              </div>
            </div>

            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">How much is your app?</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>Go Cart is completely free to use, now and forever!</p>
              </div>
            </div>

            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Will your app slow down my website?</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>No, our code is optimized and very minimal - you will see no difference in load sleep with or without our app installed.</p>
              </div>
            </div>

            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Can I change the speed of the blinking?</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>Yes, you can adjust the speed from 0.5 (Fast) to 3.0 (Slow) in 0.1 increments.</p>
              </div>
            </div>

            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">If I change my theme will I need to reinstall any code?</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>Yes, please contact us so we can add the code to your new theme.</p>
              </div>
            </div>

            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">What should I do to uninstall your app?</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>Please click here to remove our code from your current theme before you delete the app. If we manually installed code then please contact us and we will remove the additional code.</p>
              </div>
            </div>

            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">If the app does not work automatically with your theme then you can manually install the code by following the steps below</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>Go to Online Store > Click on Themes > Actions dropdown click Edit Code > Search for header.liquid file > Find the tag {{ cart.item_count }} add class="gocart-blink" > Save.</p>
                <br>
                <img src="/gocart.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>