.bold-label {
  font-size: 1.6rem;
  font-weight: 600;
}
.Polaris-TextField .minicolors,.Polaris-TextField .mini-color{
	width:100%;
}

.minicolors-theme-default .minicolors-swatch, .minicolors-theme-default.minicolors-position-right .minicolors-swatch {
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  left: 0;
  z-index: 11;
  width: 40px;
  height: 36px;
  top: 0;
}
.minicolors-theme-default .minicolors-input{
	padding-left: 45px;
}

.cart-count-container{
  width: 60px;
  position: relative;
}
.cart-count-container svg{
  width: 50px;
  height: 50px;
}
.count-wrap{
  background-color: #557b97;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -1px;
  width: 20px;
  height: 20px;
  text-align: center;
}